<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="portable46-win81+wpa81" />
  <package id="FlickrNet" version="4.0.4-alpha" targetFramework="portable46-win81+wpa81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable46-win81+wpa81" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="portable46-win81+wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable46-win81+wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable46-win81+wpa81" />
  <package id="PCLCrypto" version="1.0.0.15071" targetFramework="portable46-win81+wpa81" />
  <package id="PubSub" version="1.4.0" targetFramework="portable46-win81+wpa81" />
  <package id="Validation" version="2.0.6.15003" targetFramework="portable46-win81+wpa81" />
</packages>